@media screen and (max-width: 1000px){
	header{
		padding: 5% 1%;
	}
	main{
		padding: 0 1%;
	}
	footer{
		margin: 0 1%;
	}
	section#head{
		background-size: 30%;
	}
	section#specs{
		background-position: 50% 50%;
		background-size: cover;
	}
	#specs-container .gallery{
		float: none;
		margin: 0 auto;
	}
	#specs-container .specs{
		float: none;
		margin: 5% 0;
	}
	#specs-container .specs ul{
		width: 45%;
		margin: 0 auto 0 35%
	}
	.input.findout, .button1.findout{
		width: 200px;
	}

	section#howitworks .howitworks-container{
		border: 5px solid #76ca50;
	}
	section#howitworks .howitworks-left,
	section#howitworks .howitworks-right{
		float: none;
		width: 100%;
		border: none;
	}

	section#whyus ul li .whyus-text p{
		line-height: 2.2em;
    	font-size: 1em;
	}

	section#health .health-element.nd:after{
   		width: 229px;
   		right: -192px;
	}
	section#health .health-element.fe:after{
		width: 198px;
		left: -179px;
    	bottom: -15px;
    	transform: rotate(149deg);
	}
	#popup-holder #popup{
		width: 50%;
	}
}
@media screen and (max-width: 900px){
	.findout-container .findout-left, 
	.findout-container .findout-right{
		float: none;
		width: 100%;
	}
	.findout.first .title-findout,
	.findout.second .title-findout{
		padding: 4% 0 0 0;
		width: 100%;
	}
	section#health .consult{
		margin-top: 5%;
	}
	section#health .consult .consult-left,
	section#health .consult .consult-right{
		float: none;
		width: 100%;
		text-align: center;
	}
	.consult .consult-left .title{
		text-align: center;
	}
	.consult .button1.consultbtn{
		width: 50%;
		margin-bottom: 5%;
	}
	footer .form.footer{
		width: 80%;
	}
}
@media screen and (max-width: 825px){
	section#specs .order{
		width: 99.5%;
	}
	section#specs .order .button.ordermagnit{
		width: 50%;
	}
	section#whyus .whyus-left{
		padding: 0 0 0 3%;
	}
	section#whyus .whyus-center{
		padding-top: 7%;
	}
	section#whyus .whyus-right {
		padding: 0 3% 0 0;
	}
	section#whyus ul li .whyus-icon img{
		width: 70%;
	}
	section#whyus ul li .whyus-text p{
		line-height: normal;
		font-size: 0.8em;
		padding: 15% 0 0 2%;
	}
}
@media screen and (max-width: 768px){
	header{
		padding-bottom: 10%;
	}
	header .header-left,
	header .header-right{
		float: none;
		width: 100%;
	}
	header .header-left{
		text-align: center;
		padding-bottom: 5%;
	}
	header .header-left .header-description{
		text-align: left;
	}

	section#head .head-title{
		width: 65%;
	}
	section#head{
		background-size: 20%;
	}
	section#head .form.headform{
		width: 60%;
	}
	section#head .head-sticker{
		width:14vw;
	}
	section#howtosave ul li{
		display: block;
		margin: 0 auto 25%;
		width: 40%;
	}
	section#howtosave ul li:last-child{
		margin: 0 auto;
	}
	section#howtosave ul li:after{
		top: auto;
		bottom: -75%;
		right: auto;
		left: 45%;
		transform: rotate(90deg);
	}
	.comment-container .comment-left,
	.comment-container .comment-right{
		float: none;
		width: 100%;
	}
	.comment-left .photo{
		padding: 1% 0;
	}
	.comment-left .name{
		margin: 0 auto 5%;
	}
	#specs-container .specs ul {
	    width: 60%;
		margin: 0px auto 0 30%;
	}
	section#health .health-left,
	section#health .health-right{
		width: auto;
		padding: 0;
	}
	section#health .health-left-block, 
	section#health .health-right-block{
		padding: 0;
	}
	section#health .health-text{
		height: auto;
		text-align: justify;
		padding: 0 0 2% 10%;
		position: relative;
	}
	section#health .health-left-block.left-element,
	section#health .health-right-block.right-element,
	section#health .health-element.nd:after,
	section#health .health-element.fe:after{
		display: none;
	}
	section#health .health-text:before{
		content: 'Nd';
		position: absolute;
		font-size: 1em;
		text-align: center;
		line-height: 45px;
		color: #76ca50;
		width: 45px;
		height: 45px;
		border: 3px solid #76ca50;
		border-radius: 50%;
		left: 0;
		top: 20%;
	}
	section#health .health-text.b:before{
		content: 'B';
	}
	section#health .health-text.fe:before{
		content: 'Fe';
	}
	section#health .health-text.nd:before{
		content: 'Nd';
	}
	section#measures .measures-container ul li{
		display: block;
		width: 80%;
		margin: 0 auto 3%;
	}
	#popup-holder #popup{
		width: 65%;
	}
	#popup .title{
		padding: 5% 2%;
	}	
}
@media screen and (max-width: 600px){
	section#head{
		background: none;
	}
	section#head .head-title{
		width: 80%;
	}
	section#head .head-title h1{
		font-size: 2em;
	}
	section#head .head-title h2{
		font-size: 1.2em;
	}
	section#head .head-description p{
		font-size: 1.5em;
	}
	section#head .form.headform{
		width: 95%;
	}
	section#head .head-sticker{
		display: none;
	}
	section#howtosave .howtosave-title{
		padding-bottom: 15%;
	}
	#specs-container .specs ul{
		width: 80%;
		margin: 0 auto;
	}
	section#specs .order{
		width: 99.2%;
	}
	#specs-container .title{
		padding: 3% 0 10% 0;
	}
	section#howitworks .howitworks-left img{
		max-width: 100%;
	}
	section#comment .comment-container{
		padding: 0 2%;
	}
	section#whyus .title{
		width: 90%;
	}
	section#whyus .whyus-left,
	section#whyus .whyus-right{
		float: none;
		width: 100%;
		padding: 0;
	}
	section#whyus .whyus-center{
		float: none;
		padding: 0;
		margin: 5% auto 0;
	}
	section#whyus .whyus-left ul li:after, 
	section#whyus .whyus-right ul li:before,
	section#whyus .whyus-left ul li:first-child:after, 
	section#whyus .whyus-right ul li:first-child:before{
		display: none;
	}
	section#whyus .whyus-right ul li, 
	section#whyus .whyus-left ul li,
	section#whyus .whyus-right ul li:first-child, 
	section#whyus .whyus-left ul li:first-child{
		margin: 0 auto;
		padding: 0;
	}
	section#whyus .whyus-text br{
		display: none;
	}
	section#whyus .whyus-icon{
		width: 20%;
	}
	section#whyus ul li .whyus-icon img{
		width: 25%;
	}
	section#whyus ul li .whyus-text p{
		font-size: 1em;
		line-height: 4em;
		padding: 0;
	}
	section#health .health-text{
		padding: 0 2% 5% 20%;
	}
	section#health .health-text:before{
		top: 25%;
		left: 30px;
	}
	main .findout.first{
		margin-bottom: 15%;
	}
}
@media screen and (max-width: 500px){
	section#whyus ul li .whyus-icon img{
		width: 50%;
	}
	section#whyus ul li .whyus-text p{
		font-size: 0.75em;
		line-height: 6em;
	}
	.consult .button1.consultbtn{
		width: 75%;
	}
	#popup .title{
		padding: 5%;
	}	
}
@media screen and (max-width: 460px){
	.form.headform .form-callback-text{
		padding: 0 2%;
	}
	section#howtosave ul li{
		margin: 0 auto 35%;
	}
	#specs-container .specs ul{
		width: 85%;
	}
	#specs-container .specs ul li p{
		font-size: 0.875em;
	}
	#specs-container .order .title p{
		font-size: 1em;
	}
	#specs-container .title{
		padding: 3% 0 5% 0;
	}
	.howitworks-right .howitworks-description{
		padding: 0 2% 2% 2%;
	}
	.form.howitworks{
		width: 90%;
	}
	section#whyus .title h4,
	section#howtosave .howtosave-title h2,
	section#howitworks .title h3,
	.comment-container .title h3,
	.findout.second .findout-left .title-findout p,
	section#health .title h4,
	.consult .consult-left .title h6,
	.measures-container .title h4,
	footer .title h5{
		font-size: 1.4em
	}
	section#comment .comment-container{
		padding: 0 5%;
	}
	.input.findout, .button1.findout{
		display: block;
		width: 250px;
		margin: 0 auto 2%;
	}
	.input.findout{
		width: 246px;
	}
	section#health .title{
		width: 85%;
		padding-bottom: 10%;
	}
	section#health .health-text{
		padding: 15% 2%;
	}
	section#health .health-text:before{
		top: -7%;
		left: 45%;
	}
	footer .form.footer{
		width: 95%;
	}
	footer form .input.footer{
		width: 80%;
	}
	footer form .button.footer{
		width: 65%;
	}
	#specs-container .gallery{
		width: 65%;
	}
	#specs-container .gallery .bx-viewport{
		padding-bottom: 25%;
	}
}