@import url(../css/reset.css);

@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('☺'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font: 600 1em/normal 'Open Sans', arial, sans-serif;
	color: #333;
}

a{
	color: inherit;
}
.clearbox{
	content: '';
	display: block;
	clear: both;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

header{
	max-width: 1025px;
	margin: 0 auto;
	padding: 1% 0 0.5% 0;
	overflow: hidden;
}
header .header-left,
header .header-center{
	float: left;
}
header .header-right{
	float: right;
}
.header-left > div,
.header-right > div{
	display: inline-block;
	vertical-align: top;
}

/* Стили для лого, если это не картинка
.header-left .css-logo{
	border: 4px solid #76ca50;
	border-radius: 5px;
}
.header-left .css-logo p{
	padding: 15px 20px;
}*/
.header-center{
	text-align: center;
	width: 347px;
	padding-left: 96px;
	font-weight: 700;
	padding-top: 10px;
}
.header-left .header-description{
	margin-left: 5px;
}
.header-left .header-description p{
	font-size: 1.125em;
}
.header-left .header-description p span{
	font-size: 0.875em;
	color: #666;
}
.header-right{
	padding-top: 0.5%;
	text-align: center;
}
.header-right .phone{
	margin-right: 5px;
}
.header-right .phone a{
	font-weight: 700;
	font-size: 1em;
	line-height: 17px;
	color: #76ca50;
}
.header-right .phone p{
	font-weight: 400;
	font-size: 0.875em;
}
.head-deliv{
	margin-bottom:5px;
}
.button1{
	width: 160px;
	height: 46px;
	background: url(../img/button1-bg.jpg);
	cursor: pointer;
	font: 0.875em/normal 'Raleway-Bold';
	color: #fff;
	border: 0;
}
.button1:hover{
	background: url(../img/button1-bg-hover.jpg);
}
section{
	max-width: 1025px;
	margin: 0 auto 5%;
	text-align: center;
}

section#head{
	background: url(../img/bg-1.jpg) top center no-repeat;
	max-width: none;
	background-size:cover;
	margin: 0 auto;
}
section#head .head-container{
	max-width: 1025px;
	margin: 0 auto;
	position: relative;
	padding: 42px 0 30px;
}

section#head .head-sticker{
	position: absolute;
	top:20px;
	left: 15px;
}
section#head .head-title{
	display: block;
	text-align: center;

}
section#head .head-title h1{
	font-size: 2.250em;
	color: #fff;
	width: 450px;
	margin: 0px auto 20px;
	background: #76ca50;
}
section#head .head-title h2{
	font-size: 1.5em;
	color: #000;
	padding-bottom: 30px;
}
section#head .head-description{
	font-size: 2.250em;
	padding-bottom: 1%;
	color: #000;
	width: 730px;
	margin: 0px auto 20px;
	background: #fff;
}
section#head .box{
	float: left;
	width: 240px;
}
section#head .form-image{
	float: left;
	width: 325px;
	pointer-events: none;
	margin-left: 30px;
}
section#head {

}
section#polland{
	background: url("../img/bg-polland.jpg") no-repeat center;
	background-size: cover;
	height: 430px;
	margin: 0;
	width: 100%;
	max-width: 100%;
}
section#polland .polland-title{
	padding-bottom: 7%;
	padding-top: 1%;
}
section#polland .polland-title h2{
	font-size: 1.875em;
}
section#store .store-title{
	padding-bottom: 4%;
	padding-top: 1%;
	font-size: 1.875em;
}
/*section#store .bx-pager-item{*/
	/*display: none;*/
/*}*/
/*section#store .bx-controls-direction{*/
	/*position: relative;*/
/*}*/
/*section#store .bx-controls-direction .bx-prev{*/
	/*color: transparent;*/
	/*background: url("../img/icons/cube-a.png") no-repeat center;*/
	/*height: 38px;*/
	/*width: 38px;*/
	/*-moz-transform: rotate(180deg); !* Для Firefox *!*/
	/*-ms-transform: rotate(180deg); !* Для IE *!*/
	/*-webkit-transform: rotate(180deg); !* Для Safari, Chrome, iOS *!*/
	/*-o-transform: rotate(180deg); !* Для Opera *!*/
	/*transform: rotate(180deg);*/
	/*position: absolute;*/
	/*left: -50px;*/
	/*top: -210px;*/
/*}*/
/*section#store .bx-controls-direction .bx-next{*/
	/*color: transparent;*/
	/*background: url("../img/icons/cube-a.png") no-repeat center;*/
	/*height: 38px;*/
	/*width: 38px;*/
	/*position: absolute;*/
	/*right: -50px;*/
	/*top: -210px;*/
/*}*/
section#store #items {
	height: 1750px;
}
section#store .slide{
	border:1px solid #cccccc;
	width: 21.8%;
	/*height: 345px;*/
	text-align: center;
	float: left;
	margin: 0.5%;
	padding: 18px 1%;
}
section#store .slide img{
	width: 100%;
}
section#store .slide .title{
	color: #76ca50;
	font-weight: bold;
	font-size: 18px;
}
section#store .slide img{
	margin: 15px auto 5px;
	display: block;
}
section#store .slide .fiches{
	text-align: left;
	line-height: 16px;
	font-size: 14px;
}
section#store .slide .price{
	color: #76ca50;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 5px;
}
section#store .slide .button{
	color: #fff;
	background: #76ca50;
	font-size:16px;
	height: 35px;
	width: 90%;
	margin: 0 auto;
	line-height: 34px;
}
section#store .slide .button:hover{
	background: #68b84d;
}
section#store .slide .button:active{
	background: #569b42;
}
.form{
	width: 40%;
	margin: 0 auto;
	margin-bottom: 5%;
	background: #fff;
	border: 2px solid #feba03;
}
.form fieldset{
	padding-bottom: 5%;
}
.form .form-title{
	padding: 1% 0;
	background: #fff;
	/*border-bottom: 1px solid #fce9c1;*/
}
.form .form-title p{
	font-size: 1.375em;
	color: #000;
}
.form .form-description{
	/*width: 80%;*/
	margin: 0 auto;
	/*padding: 2% 0 0 0;*/
}
.form .form-description p{
	font-size: 0.875em;
}
.form .input{
	height: 30px;
	width: 80%;
	margin: 0 auto 5%;
	text-indent: 15px;
	border: 1px solid #e8e8e7;
	border-radius: 5px;
	background: #fff;
}
.button{
	width: 80%;
	height: 42px;
	background: url(../img/button-bg.jpg);
	font-weight: 700;
	font-size: 1.125em;
	color: #fff;
	cursor: pointer;
	padding: 0;
	border: 0;
}
.button:hover{
	background: url(../img/button-bg-hover.jpg);
}
.form-callback-text{
	font-size: 0.875em;
	float: left;
	width: 100%;
	padding-top: 15px;
	font-weight: 600;
}

section#head form{
	width: 600px;
	height: 290px;
	margin: 0 auto;
}

section#howtosave .howtosave-title{
	padding-bottom: 7%;
}
section#howtosave .howtosave-title h2{
	font-size: 1.875em;
}
section#howtosave ul{
	width: 100%;
}
section#howtosave ul li{
	display: inline-block;
	vertical-align: top;
	width: 25%;
	border: 1px dashed #ddd;
	margin-right: 11%;
	position: relative;
}
section#howtosave ul li:last-child{
	margin: 0;
}
section#howtosave ul li:after{
	content: '';
	width: 27px;
	height: 53px;
	background: url(../img/icons/arrow.png) no-repeat 0 0;
	position: absolute;
	right: -75px;
	top: 35px;
}
section#howtosave ul li:last-child:after{
	content: '';
	width: 0;
	height: 0;
	background: none;
}
section#howtosave ul li .icon{
	width: 30%;
	margin: -30px auto 10%;
	background: #fff;
}
section#howtosave ul li .howtosave-text{
	margin-bottom: 12%;
}

section#specs{
	max-width: none;
	background: url(../img/specs-bg.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	margin:  0 auto;
}

section#specs #specs-container{
	max-width: 1025px;
	margin: 0 auto;
	padding-bottom: 4%;
	overflow: hidden;
}

#specs-container .title{
	margin: 3% 0 5% 0;
}
#specs-container .title h6{
	font-size: 2.5em;
	color: #76ca50;
}
#specs-container .title h6 span{
	font-size: 0.7em;
}
#specs-container .gallery{
	width: 45%;
	float: left;
	border: 8px solid #8ee069;
	position: relative;
	margin-right: 13%;
}
#specs-container .gallery .bx-wrapper{
	margin: 0 auto 0;
}
#specs-container .gallery .bx-viewport{
	overflow: visible;
	background: #fff;
	left: 30px;
	top: -30px;
	box-shadow: -5px 5px 7px 0px #a2a2a2;
	padding-bottom: 10%;
}
#specs-container .gallery .bx-pager{
	position: absolute;
	left: 50%;
    bottom: 45px;
}
#specs-container .gallery .bx-pager > div{
	display: inline-block;
	font-size: 0;
	margin-right: 5px;
}
.gallery .bx-pager > div a.bx-pager-link{
	height: 10px;
	width: 10px;
	border: 3px solid #999;
	border-radius: 50%;
}
.gallery .bx-pager > div a.bx-pager-link:hover,
.gallery .bx-pager > div a.bx-pager-link.active{
	border: 3px solid #666;
}
#specs-container .specs{
	text-align: left;
	float: left;
}
#specs-container .specs ul li p{
	position: relative;
	line-height: 2.1em;
	font-size: 1.125em;
}
#specs-container .specs ul li p:before{
	content: '';
	width: 7px;
	height: 7px;
	background: #fff;
	border: 3px solid #76ca50;
	position: absolute;
	left: -20px;
	top: 35%;
}

#specs-container .order{
	width: 99.6%;
	background: #fbf1dc;
	border: 2px solid #feba03;
	margin-top: 3%;
	padding: 2% 0 3% 0;
}
#specs-container .order .title{
	margin: 0 0 2% 0;
}
#specs-container .order .title p{
	font-size: 1.375em;
}
.ordermagnit{
	width: 25%;
}

section#howitworks .title{
	padding-bottom: 2%;
}
section#howitworks .title h3{
	font-size: 1.875em;
}
section#howitworks .howitworks-container{
	overflow: auto;
	border-right: 5px solid #76ca50;
	border-bottom: 5px solid #76ca50;
}
section#howitworks .howitworks-left,
section#howitworks .howitworks-right{
	width: 50%;
	float: left;
}
section#howitworks .howitworks-left{
	padding: 3% 0 2% 0;
}
section#howitworks .howitworks-right{
	padding-top: 4%;
	border-top: 5px solid #76ca50;
}
.howitworks-right .howitworks-description p{
	font-weight: 400;
	padding-bottom: 3%;
}
.howitworks-right .howitworks-description p strong{
	font-weight: 600;
}
.howitworks-right .howitworks-description p span{
	font-size: 1.25em;
	font-weight: 700;
	color: #76ca50;
}
.form.howitworks{
	width: 80%;
}
.form-description.howitworks p{
	font-size: 14px;
	color: #ff6a00;
	padding: 15px 0 ;
}
.form-description.howitworks  b{
	font-size: 36px;
	font-weight:bold;
}

section#comment{
	max-width: none;
	background: #f2f2f2;
	padding-bottom: 5%;
	margin: 0 auto 0; 
}
section#comment .comment-container{
	max-width: 1025px;
	margin: 0 auto;
	overflow: auto;
}
.comment-container .title{
	padding: 5% 0;
}
.comment-container .title h3{
	font-size: 1.875em;
}
.comment-container .comment-left{
	float: left;
	width: 35%
}
.comment-container .comment-right{
	float: left;
	width: 65%;
}
.comment-left .photo{
	padding: 5% 0;
}
.comment-left .name{
	width: 60%;
	margin: 0 auto;
}
.comment-right .comments{
	width: 80%;
	margin: 0 auto;
	background: #fff;
	border-left: 6px solid #76ca50;
	text-align: left;
	padding: 5%;
	position: relative;
}
.comment-right .comments:before{
	content: '';
	border: 20px solid transparent;
	border-right: 35px solid #76ca50;
	position: absolute;
	left: -55px;
	top: 73px;
}
.comment-right .comments:after{
	content: '';
    border: 13px solid transparent;
    border-right: 25px solid #fff;
    position: absolute;
    left: -38px;
    top: 80px;
}
.comment-right .comments p{
	font-size: 0.875em;
	padding-bottom: 3%;
}
.comment-right .comments p:last-child{
	padding: 0;
}
main .findout.first{
	background: url(../img/pattern.png);
	margin-bottom: 5%;
}
main .findout.second{
	background: url("../img/bg-f.jpg") top center;
	background-size:cover;
	margin-bottom: 5%;
}
main .findout.third{
	background: url("../img/bg-opt.jpg") top center;
	background-size:cover;
	margin-bottom: 0;
	padding-bottom: 20px;
}
.findout .findout-container{
	max-width: 1025px;
	margin: 0 auto;
	padding: 2% 0;
	overflow: auto;
}
.findout-container .findout-left,
.findout-container .findout-right{
	float: left;
	width: 50%;
}
.findout.third .findout-container .findout-right,
.findout.third .findout-container .findout-left{
	float: none;
	width: 100%;
	text-align: center;
}
.findout-left .title-findout{
	padding: 4% 0 4% 10%;
	text-align: center;
	width: 70%;
}
.findout.third .findout-left .title-findout{
	padding: 0;
	text-align: center;
	width: 100%;
}
.findout.first .title-findout{
	width: 77%;
}
.findout-left .title-findout p{
	font-size: 1.25em;
	color: #fff;
}
.findout.second .findout-left .title-findout p{
	font-size: 1.5em;
	color: #000;
}
.form.findout{
	width: 100%;
	background: transparent;
	border: none;
	text-align: center;
	padding-top: 6%;
	margin: 0;
	font-size: 1.25em;
}
.form.findout fieldset{
	margin: 0;
}
.input.findout{
	width: 226px;
	height: 40px;
	margin: 0 5% 0 0;
	vertical-align: bottom;
	border: 2px solid #76ca50;
	border-radius: 0;
}
.findout.third .input.findout{
	width: 286px;
	margin: 10px auto;
	display: block;
	text-align: center;
}
.button1.findout{
	width: 230px;
	height: 46px;
	margin: 0;
}
.findout.third .button1.findout{
	margin: 10px auto;
}
.findout.third fieldset{
	padding-bottom:0.5%;
}


section#usage{
	max-width: 1015px;
}
section .usage-title{
	width: 50%;
	background: #fff;
	font-size:25px;
	margin: 25px auto 30px;
}
section#usage .box{
	background: url("../img/bg-green.jpg") no-repeat center;
	background-size: cover;
	text-align: left;
	height: 430px;
}
section#usage .box .row1{
	font-size: 20px;
	padding-top: 100px;
	color: #fff;
}
section#usage .box .row2{
	font-size: 20px;
	padding-top: 84px;
	padding-left: 134px;
}
section#usage .box span{
	display: inline-block;
	width: 290px;
	text-align: center;
	vertical-align: middle;
}

section#whyus{
	max-width: 1015px;
	border: 5px solid #76ca50;
	padding-bottom: 3%;
}
section#whyus .title{
	width: 50%;
	background: #fff;
	margin: -25px auto 0;
}
section#whyus .title h4{
	font-size: 1.875em;
}
section#whyus .whyus-left,
section#whyus .whyus-center,
section#whyus .whyus-right{
	text-align: left;
	float: left;
	width: 33.3%;
}
section#whyus .whyus-center{
	padding-top: 3%;
}
section#whyus .whyus-center img{
	max-width: 100%;
}
section#whyus .whyus-left{
	width: 30.3%;
	padding: 3% 0 0 3%;
}
section#whyus .whyus-right{
	width: 30.3%;
	padding: 3% 3% 0 0;
}
section#whyus .whyus-right ul li,
section#whyus .whyus-left ul li{
	width: 90%;
	padding: 5% 0 7% 0;
	border-bottom: 2px solid #76ca50;
	line-height: 2em;
	position: relative;
}
section#whyus .whyus-right ul li{
	margin: 0 0 0 10%;
}
section#whyus .whyus-right ul li:first-child,
section#whyus .whyus-left ul li:first-child{
	padding: 0 0 7% 0;
}
section#whyus .whyus-left ul li:first-child:after,
section#whyus .whyus-right ul li:first-child:before{
	content: '';
	width: 50px;
    position: absolute;
    right: -44px;
    bottom: -18px;
    border-bottom: 2px solid #76ca50;
    transform: rotate(40deg);
}
section#whyus .whyus-right ul li:first-child:before{
	right: auto;
	left: -44px;
	transform: rotate(-40deg);
}
section#whyus .whyus-left ul li:last-child:after,
section#whyus .whyus-right ul li:last-child:before{
	content: '';
	width: 50px;
    position: absolute;
    right: -44px;
    bottom: 14px;
    border-bottom: 2px solid #76ca50;
    transform: rotate(140deg);
}
section#whyus .whyus-right ul li:last-child:before{
	right: auto;
	left: -44px;
	transform: rotate(-140deg);
}
section#whyus .whyus-left ul li:nth-child(2):after,
section#whyus .whyus-right ul li:nth-child(2):before{
	content: '';
	width: 40px;
    position: absolute;
    right: -40px;
    bottom: -2px;
    border-bottom: 2px solid #76ca50;
}
section#whyus .whyus-right ul li:nth-child(2):before{
	right: auto;
	left: -40px;
}

section#whyus .whyus-icon,
section#whyus .whyus-text{
	float: left;
}
section#whyus .whyus-icon{
	width: 30%;
	line-height: 70px;
	text-align: center;
}
section#whyus .whyus-icon img{
	vertical-align: middle;
}
section#whyus .whyus-text{
	width: 69%;
}
section#whyus .whyus-text p{
	line-height: 1.7em;
	font-size: 1.25em;
}

section#health .title{
	padding-bottom: 5%;
}
section#health .title h4{
	font-size: 1.875em;
	margin-top: 40px;
}
section#health .health-left,
section#health .health-right{
	float: left;
	width: 46%;
}
section#health .health-left{
	padding-right: 4%;
}
section#health .health-right{
	padding-left: 4%;
}
section#health .health-left-block,
section#health .health-right-block{
	padding-bottom: 5%;
}
section#health .health-left-block.left-element{
	text-align: right;
}
section#health .health-right-block.right-element{
	text-align: left;
}
section#health .health-text{
	text-align: left;
	height: 200px;
}
section#health .health-text p{
	font-size: 0.875em;
}
section#health .health-text p strong{
	color: #76ca50;
}
section#health .health-element{
	display: inline-block;
	border: 7px solid #76ca50;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	text-align: center;
	line-height: 130px;
	position: relative;
	background: #fff;
}
section#health .health-element.b{
	z-index: 5;
}
section#health .health-element.nd:after{
	content: '';
	width: 237px;
	border-bottom: 5px solid #76ca50;
	position: absolute;
	right: -203px;
	bottom: -47px;
	transform: rotate(37deg);
}
section#health .health-element.fe{
	margin-left: 70px;
}
section#health .health-element.fe:after{
	content: '';
	width: 205px;
	border-bottom: 5px solid #76ca50;
	position: absolute;
	left: -187px;
	bottom: -23px;
	transform: rotate(151deg);
}
section#health .health-element p{
	font-size: 2.5em;
	color: #76ca50;;
}
section#health .consult{
	max-width: 1017px;
	border: 4px solid #76ca50;
}
.consult .consult-left,
.consult .consult-right{
	float: left;
	width: 65%;
}
.consult .consult-right{
	width: 35%;
}
.consult .consult-left .title{
	text-align: left;
	background: #fff;
	margin: -30px auto 0;
	padding: 0 5%;
    width: 71%;
}
.consult .consult-left .title h6{
	font-size: 1.7em;
	padding-bottom: 3%;
}
.consult .consult-left .title p{
	font-size: 1.125em;
}
.consult .consult-right{
	padding-top: 3%;
	text-align: left;
}
.consult-right .button1.consultbtn{
	width: 85%;
	font-size: 1.25em;
	padding: 0;
}

section#measures{
	max-width: none;
	background: #f2f2f2;
	padding-bottom: 5%;
	margin: 0 auto 0;
}
section#measures .measures-container{
	max-width: 1025px;
	margin: 0 auto;
}
.measures-container .title{
	padding: 5% 0;
}
.measures-container .title h4{
	font-size: 1.875em;
}
.measures-container .title p{
	font-size: 1.125em;
	color: #666;
}
.measures-container ul{
	width: 100%;
}
.measures-container ul li{
	display: inline-block;
	vertical-align: top;
	width: 24.5%;
}
.measures-container ul li .icon-measures{
	line-height: 80px;
}
.measures-container ul li .icon-measures img{
	vertical-align: middle;
}
.measures-container ul li .measures-text-title{
	padding-bottom: 3%;
}
.measures-container ul li .measures-text-title p{
	font-size: 1.125em;
}
.measures-container ul li .measures-text p{
	font-size: 0.875em;
}
label.error{
	position: absolute;
	left: 0;
	right: 0;
	color: red;
	font-size: 10px;
	bottom: 0;
}
.form fieldset{
	position: relative;
}

footer{
	background: url(../img/pattern.png);
	text-align: center;
}
footer .title{
	padding: 5% 0 3% 0;
}
footer .title h5{
	font-size: 1.875em;
	color: #76ca50;
	padding-bottom: 2%;
}
footer .title p{
	color: #fff;
}
footer .form.footer{
	margin: 0 auto 0;
	background: none;
	border: none;
}
footer form .input.footer{
	height: 42px;
	width: 60%;
	border: none;
	border-radius: 0;
}
footer form .button.footer{
	width: 40%;
}

#popup-holder{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	z-index: 25;
}
#popup-holder #popup{
	background: #fff;
	width: 30%;
	text-align: center;
	padding: 0 2%;
	position: absolute;
	z-index: 100;
}
/*Для позиционирования элемента используется скрипт. Ниже написан стиль
для позиционирования модального окна на css - если будет принято решение не
использовать js для этой цели. Не подстраивается под размер экрана*/
/*#popup-holder #popup{
	background: #fff;
	width: 25%;
	margin: 10% auto;
	text-align: center;
	padding: 2%;
}*/
#popup .close{
	position: absolute;
	top: 2%;
	right: 3%;
	font-size: 1.5em;
	cursor: pointer;
}
#popup .title{
	padding: 5% 0;
}
#popup .title p{
	font-size: 1.25em;
}
#popup .form.popup{
	background: none;
	border: none;
	width: 80%;
}
.form.popup .input.popup{
	border-radius: 3px;
	height: 42px;
}